

/* backgr me orange color ata he */
:root {

    --orange:#ffa500;
}

*::selection{

    background:var(--orange);
    color: white;

}

section{

    padding: 2rem 9%;
}
*{

    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;

    transition: all .2s linear ;

} 

html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem ;
    overflow-x: hidden;
}

.header{

    position: fixed;
    top:0;
    left:0;
    right:0;
    background: #333;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index:   10000;
}

.logo{
    font-size: 3.5rem;
    color: white;
}
.logo span{

    color: #ffa500;
}


.navbar a{

    font-size: 1.8rem;
    margin: 0 .8rem;
    color: white;
}
.navbar a:hover{
    color: #ffa500;
}



.icons i{
    color: aliceblue;
    font-size: 2rem;
    padding: 0 1rem;
    cursor: pointer;
    /* display: flex;
    flex-direction: column; */
}

.icons i:hover{


    color: #ffa500;
    transform: translateY(10px);
}

.search-container{

    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem ;
    border-top: .1rem solid rgba(255,255,255,.2);

    background-color: #333;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0,100% 0, 0 0);
}

/* clip is used tu hide content uper */

.search-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 

}


#searchbar{

    width: 100%;
    font-size: 1.7rem;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;

}

.search-container label:hover{

    color: #ffa500;
}
.search-container label
{
font-size: 2rem;
color: white;
cursor: pointer;
padding: 1rem;
}


.login-container{

    position: fixed;
    top:-100%;
    left: 0;right: 0;
    height: 100vh;
    width: 100%;
    
    background: rgba(0,0,0,0.7);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-container.active{

    top: 0%;
}



.login-container form {

    width: 50rem;
    background: white;
    border-radius: .5rem;
    padding: 1.5rem 2rem;
    margin: 2rem;

}
.login-container form h3{

    font-size :2rem;
    text-align: center;
    color: #444;
    padding: 1rem 0;
    text-transform: uppercase;
}

.login-container form .box{

    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    margin: .6rem 0;
    border: .1rem solid rgba(0,0,0,0.2);
    border-radius:.5rem;
}


.login-container form .box:focus{

    border-color: var(--orange);
}

.login-container form #remember{

    /* font-size: 20rem; */
    margin: .8rem .2rem;
}

.login-container form label{

    font-size:1.5rem;
    padding: 2rem 0;


}

.login-container form .btn{

    width: 100%;
    display: block;
}
.btn{

    /* width: 100%; */
    padding: 1rem;
    background: #ffa500;
    color: rgb(235, 237, 239);
    margin:.8rem 0 ;
    font-size: 1.7rem;
    border-radius: .5rem;
    cursor: pointer;


}

.login-container form p a{

    color: #ffa500;
   

}

.login-container form p a:hover{

    color: #333;
    text-decoration: underline;
}




.login-container form p{

    font-size:1.5rem ;
    margin: 1rem 0;
    color: rgb(72, 71, 71);

}


    
.login-container #form-close{

    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 5rem;
    color: white;
    cursor: pointer;
}


#menu-bar{
    font-size: 2rem;
    padding: .8rem;
    color: white;
    border: .1rem solid rgb(219, 218, 218);
    border-radius: .5rem ;
    display: none;
    cursor: pointer;
}
/* =========================home========================== */


.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    z-index: 0;
    flex-flow: column;

}

.home .content
{

    text-align: center;
}
.home .content h3{

    font-size: 5rem;
    /* padding: 1rem 0; */
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
    color: white;
}
.home .content p{
    font-size: 2.2rem;
    padding: 2rem;
    color: white;
}


.vid-container video{

position: absolute;
top:0; 

left: 0;
z-index: -1;
object-fit: cover;
height: 100%;
width: 100%;


}

.home .controls{
    position: relative;
    top: 10rem;
    background: rgba(0,0,0,.5);
    padding: 1rem;
   /* width: 10rem; */
   
   border-radius: 1.5rem;
   cursor: pointer;
}

.vid-btn{

    border-radius: 50%;
    background: white;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin: 0 .5rem;
}

.vid-btn.active{

    background: var(--orange)
}

/* --------------------------------book---------------------------     */


.heading{

    padding: 2.5rem 0;
    text-align: center;
}

.heading span{

    font-size: 3.5rem;
    color: #fdb328;
    background: rgb(255, 224, 197);
    padding: .5rem 1rem;
    border-radius: .5rem;
    
}

.heading span.space{
    background: none;
}


.book .row{

    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.book .row .image{

flex: 1 1 40rem;      /* making partition*/
}
.book .row .form{

flex: 1 1 40rem

}.book .row .image img{

width: 100%;

}

.form{

    box-shadow:0 1rem  2rem rgba(0,0,0,.1);
    padding:2rem;
    border-radius: .5rem;
    text-transform: none;
}

.input-box input{

    width: 100%;
    padding:1rem;
    border: .1rem  solid rgba(0,0,0,.1);
    margin: 1.5rem 0;
    color: #333;
    font-size: 1.5rem;
   

}


.input-box h3{
    font-size: 1.7rem;
    color: rgb(135, 131, 131);

}

/* --------------------------packages-------------------- */
.packages .box-container{

    display: flex;
    flex-wrap: wrap;
    gap:  5rem 2rem; 
    
  
}

.packages .box-container .box{

    flex:   1  1 30rem;
    box-shadow:0 1rem  2rem rgba(0,0,0,.1);
    overflow: hidden;
    padding-bottom: 3rem;
    /* text-align: center; */
    

}

.content h3{

    font-size: 1.9rem;
    padding: 1rem;
}

.content h3 i{

    color: #fdb328;
    font-size: 1.7rem;


}

.content .star{
    font-size: 1.3rem;
    padding: 0 .8rem;
    color: #fdb328;

}



.content p{

    font-size: 1.5rem;
    padding: .8rem;
    color: rgb(99, 102, 102);

}
.box  .content .price{

padding: 1rem;
padding-bottom: 1.5rem ;
font-size: 1.7rem;

}

.box  .content .price span{

font-size: 1.2rem;
text-decoration: line-through;
color:rgb(99, 102, 102); ;

}


.box img{

    width: 100%;
    height: 20rem;
    object-fit: cover;

}


.btn-btn{

    background-color: #ffa500;
    font-size:1.5rem;
    padding: 0.8rem 2rem;
    
    margin:.8rem;
    color: white;
    
}

/* ----------------------services----------------------------- */

.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
}

.services .box-container .box{

    flex: 1 1 30rem;
    text-align: center;
    border-radius: .5rem;
    /* */
    /* padding: 2rem; */
    line-height: 1.9rem;
    cursor: pointer;
   
} 

.services .box-container .box i{
    font-size: 5rem;
    padding: 1rem 0;
    color: var(--orange);
}

.services .box-container .box h3{

    font-size: 2rem;
    padding: .5rem  0;
    color: #444;
}
.services .box-container .box p{

    font-size: 1.5rem;
    color: rgb(115, 112, 112);
    padding: 1rem 0;
}

.services .box-container .box:hover{

     box-shadow:0 1rem  2rem rgba(0,0,0,.1);
}
/* -------------gallery------------ */


.gallery .box-container{

    display:flex;
    flex-wrap:wrap ;
    gap: 1.5rem;
    
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    
}   

.gallery .box-container .box{

    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    height: 25rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border:1rem solid white;
    cursor: pointer;


} 


.gallery .box-container .box img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.gallery .box-container .box .content{
    position: absolute;
    top:    -100%;
    left: 0;
    background: rgb(0,0,0,0.7);
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 3rem;
    cursor: pointer;
    transition: .5s;
    
}
.gallery .box-container .box:hover .content{

   top:0;
}



.gallery .box-container .box .content h3{

    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bolder;
}


.gallery .box-container .box .content p{
    color :white;
    padding-bottom: 2rem;

}

/* =============revies-=================== */

.reviews .box{

    text-align: center;
    width: 45rem;
    height: 30rem;
    margin: auto;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.4);
    margin-bottom: 2rem;
    padding: 4rem 1.1rem 0;
    cursor: pointer;

}

.reviews .box img{

    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}


.reviews .box h3{

    font-size: 3rem;
    color: #444;
    padding: 2rem;

}

.reviews .box p{
    
font-size: 1.3rem;
color: rgb(132, 129, 129);

}

.reviews .box .stars{

    color: var(--orange);
    font-size: 1.5rem;
    padding-top: 1rem;
}

/* ------------------contact=---------------------- */

.contact .row{

    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row .image{

    flex: 1 1 35rem;
    
}


.contact .row .image img{

    width: 100%;
}

.contact .row form{
    flex: 1 1 50rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    align-items: center;
    padding: 2rem;
color: #333;

}
.contact .row form .inputbox{

display: flex;
flex-wrap: wrap;
justify-content: space-between;
/* align-items: center; */

}

.contact .row form .inputbox input, .contact .row form textarea{
    font-size: 1.7rem;
    background-color: rgb(230, 228, 228);
    padding: 1rem;
    margin: 1rem 0;
    color: #333;
    width: 48%;
    text-transform: none;

}




.contact .row form textarea{
    height: 15rem;
    resize: none;
    width: 100%;
   


}

.brand-container{

    text-align: center;
}

/* ---------------footer------------------ */
.footer
{

    background: #333;
    /* height: 30rem; */
    width: 100%;
    
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;

    gap: 2rem;
    /* align-items: center; */
    margin-bottom: 4rem;
}
 .footer .box-container .box
{
    flex: 1 1 20rem;
    color: rgb(232, 234, 236);
}

.footer .box-container .box h3{

    font-size: 2.6rem;
    
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(232, 234, 236);
    padding-top: 2rem;
}



.footer .box-container .box p{

    padding: 2rem 0;
    padding-right: 1rem;
    font-size:1.5rem ;
    

}

.footer .box-container .box a:hover{

    color: var(--orange);
    text-decoration: underline;
}


.credit{
    text-align: center;
    color: aliceblue;
    font-size: 2.2rem;
    
}

.credit span{
    color: #ffa500;
}

















/* =================================media query===================================== */
 @media(max-width:1250px) {
    html{

        font-size:60%;
    }
}
 
    
    
    @media(max-width:990px) {
    .header{

       /* padding: 2rem; */
    }

    /* section{
        padding: 2rem;
    } */

 

    }

    
    @media(max-width:780px) {

        #menu-bar{
            display: inline-block;
           
        }

      
        .navbar{

            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            background: #333;
            border: .1rem solid rgb(255, 255, 255,.5);
            padding: 1rem 2rem;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
           
        }

        .navbar.active{
     
           
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }


        .navbar a{
            
            display: block;
            padding: 1rem 2rem;
            background: #222;
            
            margin: 2rem 0;
            border-radius: .5rem;
           
           
        }


    }




    @media(max-width:450px){


        html{
            font-size: 48%;
        }
        .home {
         
            padding: 2rem;
        }

        .btn{

            font-size: 2rem;

        }

.heading span{

    font-size: 2.1rem;
}



.contact .row form .inputbox input
{
    width: 100%;
}

    }

